// Make page header alignment consistent with widget page header alignment
.universal-wrapper h1 {
  text-align: center;
}

// Center the CTA shortcode button
.cta-group {
  justify-content: center;
}

.logo-image{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    margin-top: -6px;
}

.navbar-brand img {
    width: auto;
    height: -moz-available;
    height: -webkit-fill-available;
    height: -webkit-stretch;
    height: stretch;
    max-height: 100px;
    max-width: fit-content;
}
